*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.top{
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    background-color: #000;
    z-index: 100;
    font-size: 14px;
}

.text{
    justify-content: center;    
    text-align: center;
    margin: auto;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 25px 50px;
}

a:hover{
    border-bottom: 3px solid red;
}

h1{
    padding: 70px 0;
    width: 100%;
    text-align:  center;
    font-family: Microsoft JhengHei;
}

.label{
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.txt span{
    width: 960px;
    padding: 5px 55px;
    border: 1px solid #aaa;
    font-family: Microsoft JhengHei;
    border-bottom: 3px solid #ae0014;
}

span:hover{
    background-color: #ae0014;
    color: #fff;
}

.contentOdd{
    position: relative;
    margin: auto;
    width: 960px;
    height: 812px;
    text-align: center;
}

.contentOdd .gray{
    width: 439px;
    height: 290px;
    background-color: #eee;
    position: absolute;
    right: 10px;
    top: -100px;
    
    
}

.contentOdd .numimg{
    width: 355px;
    height: 388px;
    position: absolute;
    display: block;
    top: 80px;
    z-index: 99;
    float: left;
    margin-top: -217px;
}

.contentOdd .midimg{
    width: 695px;
    height: 430px;
    margin-top: 150px;
    position: relative;
    left: 190px;
    z-index: 50;
}

.contentOdd .video{
    width: 57px;
    height: 36px;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 210px;
    right: 60px;
    z-index: 99;
}

.contentOdd .summary{
    width: 682px;
    height: 275px;
    position: relative;
    left: 50px;
    bottom: 20px;
    z-index: 99;
}

.contentEven{
    position: relative;
    margin: auto;
    width: 960px;
    height: 654px;
    text-align: center;
}

.contentEven .gray{
    width: 518px;
    height: 413px;
    background-color: #eee;
    position: absolute;
    right: 164px;
    top: -100px; 
    
    
}

.contentEven .numimg{
    width: 355px;
    height: 360px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 99;
    float: left;
    margin-top: -136px;
}

.contentEven .midimg{
    margin: auto;
    width: 695px;
    height: 430px;
    margin-top: 150px;
    margin-left: 10px;
    position: relative;
    z-index: 50;
}

.contentEven .video{
    width: 57px;
    height: 36px;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 210px;
    left: 0;
    z-index: 99;
}

.contentEven .summary{
    width: 682px;
    height: 178px;
    margin-top: 79px;
    margin-left: 279px;
    position: relative; 
    bottom: 100px;
    z-index: 99;
}




